<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="{% url 'inicio' %}">Bienvenido/a {{ user.username }}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'inicio' %}">Inicio</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'lista_productos' %}">Productos</a>
                    </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                {% if "/productos/" in request.path %}
                    <li class="nav-item">
                        <a class="nav-link" href="!#">Cerrar Sesión</a>
                    </li>
                {% else %}
                    {% if not user.is_authenticated %}
                        <li class="nav-item">
                            <a class="btn btn-primary ms-2" href="{% url 'Registrar' %}">Registro</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        {% if user.is_authenticated %}
                            {% if url %}
                            <img src="{{ url }}" height="40px" alt="avatar" style="border-radius: 50%; border: 2px solid black;">
                            {% endif %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Perfil
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="{% url 'editar_perfil' %}">Editar datos</a></li>
                                    <li><a class="dropdown-item" href="{% url 'agregar_avatar' %}">Cambiar avatar</a></li>
                                </ul>
                            </li>
                            <a class="btn btn-primary ms-2" href="{% url 'contacto' %}">Contacto </a>
                            <a class="btn btn-primary ms-2" href="{% url 'Logout' %}">Cerrar Sesión </a>
                        {% else %}
                            <a class="btn btn-primary ms-2" href="{% url 'login' %}">Iniciar Sesión</a>
                        {% endif %}
                    </li>
                {% endif %}
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <form class="d-flex" action="{% url 'carrito' %}">
                        <button class="btn btn-warning" type="submit">
                            <i class="bi-cart-fill me-1 text-dark"></i>
                            Carrito
                            <span class="badge bg-dark text-white ms-1 rounded-pill">{{ total_productos }}</span>
                        </button>
                    </form>
                </li>                
                {% endif %}
            </ul>
        </div>
    </div>
</nav>